.card {
    background-color: #4C008B;
    border-radius: 30px;
    display: block;
    padding: 30px 60px;
    margin-top: 80px;
    text-align: center;
    max-width: 350px;

    transform: translateY(100px);
    opacity: 0;
    transition: transform 1.5s ease, opacity 2s ease;
}

.visible {
    transform: translateY(0);
    opacity: 1;
}

@media only screen and (max-width : 1200px) {
    .card {
        max-width: 300px;
    }

    .card img {
        max-width: 220px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width : 990px) {
    .card {
        margin-top: 50px;
        max-width: 200px;
    }

    .card img {
        max-width: 170px;
        margin-bottom: 30px;
    }

    .card h2 {
        font-size: 24px;
    }

    .card p {
        font-size: 20px;
    }
}

@media only screen and (max-width : 780px) {
    .card {
        margin-top: 40px;
        padding: 40px;
        max-width: 150px;
    }

    .card img {
        max-width: 120px;
        margin-bottom: 30px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 17px;
    }
}

