:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

h2 {
  font-size: 25px;
}

.section {
  padding: 80px 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.section-title {
  font-size: 35px;
  text-align: center;

  opacity: 0;
  transition: 2s opacity ease;
}

.section-subtitle {
  font-size: 30px;
  text-align: center;
  margin-top: 60px;

  opacity: 0;
  transition: 2s opacity ease;
}

.title-visible {
  opacity: 1;
}

p {
  font-size: 20px;
}

@media only screen and (max-width : 1200px) {
  .section-title {
    font-size: 32px;
  }

  .container {
    max-width: 900px;
  }
}

@media only screen and (max-width : 990px) {
  .section-title {
    font-size: 27px;
  }

  .section-subtitle {
    font-size: 24px;
  }

  .container {
    max-width: 700px;
  }

  p {
    font-size: 17px;
  }
}

@media only screen and (max-width : 780px) {
  .section-title{
    font-size: 20px;
  }
  .section-subtitle {
    font-size: 17px;
  }
}
@media only screen and (max-width : 480px) {
  .section-title{
    font-size: 15px;
  }
  .section-subtitle{
    font-size: 12px;
  }
  .slick-arrow{
    max-width: 20px;
  }
  .section{
    padding: 40px 0;
  }
}